@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


body {
  background-color: #E9E9E9;
  font-family: 'Montserrat';
  color: #7B7B7B;
  margin: 0;
  padding: 0;
  font-weight: 400;
  margin-bottom: 50px;
}
.logo {
  width: 196px;
  height: 196px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background: #E9E9E9;
  box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
  border-radius: 16px;

  background-size: cover;
  background-image: url(logo.svg);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.intro {
  text-align: center;
}

.intro h1 {
  font-size: 50px;
  line-height: 61px;
  font-weight: 600;
  margin: 0;
}

.bold-text {
  font-weight: 700;
  color: #494949;
}

.intro p {
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 10px;
}

.intro p span {
  font-weight: 500;
}

.cyan-color {
  color: #13B799;
  font-weight: 600;
}

.icon-bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-bg-img {
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
  width: 50px;
  height: 50px;
  background-color: #E9E9E9;
  box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
  border-radius: 5px;
  margin: 0 20px;
  font-size: 0;
}
.icon-bg-img:hover {
  box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1.5px 1.5px 1px rgba(174, 174, 192, 0.2);
}


.linkedin {
  background-image: url(/icons/linkedin.svg);
}

.behance {
  background-image: url(/icons/behance.svg);
}

.github {
  background-image: url(/icons/github.svg);
}

.no-decoration{
  text-decoration: none !important;
  border-bottom: none !important;
}

.no-decoration a:hover {
  text-decoration: none;
  border: none;
}

.about-center {
  width: 70%;
  margin: auto;
  text-align: left;
}

.about-center h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 15px;
  margin-top: 80px;
}

.about-center p {
  font-size: 20px;
  line-height: 24px;
}


.fade-color {
  color: #494949;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #494949;
  color: #13B799;
}

a:hover {
  border-bottom: 3px solid #494949;
}



/* BREAKPOINTS */



@media screen and (min-width : 320px) and (max-width : 500px) {
  .intro h1 {
    font-size: 40px;
    line-height: 61px;
    font-weight: 600;
    margin: 0;
  }
  .intro p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 10px;
  }
 
 
 
 
  .about-center {
    width: 90%;
    margin: auto;
    text-align: left;
  }

  .about-center h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 49px;
    margin-bottom: 15px;
    margin-top: 80px;
  }

  .about-center p {
    font-size: 19px;
    line-height: 24px;
  }
}

@media screen and (min-width : 500px) and (max-width : 700px) {
  .intro h1 {
    font-size: 50px;
    line-height: 61px;
    font-weight: 600;
    margin: 0;
  }
  .intro p {
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 10px;
  }
 
 
 
 
  .about-center {
    width: 90%;
    margin: auto;
    text-align: left;
  }

  .about-center h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 49px;
    margin-bottom: 15px;
    margin-top: 80px;
  }

  .about-center p {
    font-size: 19px;
    line-height: 24px;
  }
}

@media screen and (min-width : 700px) and (max-width : 1024px) {
  .intro h1 {
    font-size: 50px;
    line-height: 61px;
    font-weight: 600;
    margin: 0;
  }
  .intro p {
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 10px;
  }
 
 
 
 
  .about-center {
    width: 90%;
    margin: auto;
    text-align: left;
  }

  .about-center h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 15px;
    margin-top: 80px;
  }

  .about-center p {
    font-size: 20px;
    line-height: 24px;
  }
}